.btn-save {
	background-color: #6a0dad; /* Vibrant purple */
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.btn-save:hover {
	background-color: #550b8b; /* Darker purple on hover */
}

.btn-save:active {
	background-color: #3e0866; /* Even darker on click */
}

.btn-save-1 {
	background-color: #20b2aa; /* Refreshing teal */
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

.btn-save-1:hover {
	background-color: #188b82; /* Darker teal on hover */
}

.btn-save-1:active {
	background-color: #10655a; /* Even darker on click */
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
	display: flex;
	align-items: center;
	font-family: inherit;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	padding: 0.7em 1.4em 0.7em 1.1em;
	color: white;
	background: #ad5389;
	background: linear-gradient(
		0deg,
		rgba(20, 167, 62, 1) 0%,
		rgba(102, 247, 113, 1) 100%
	);
	border: none;
	box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
	letter-spacing: 0.05em;
	border-radius: 10px;
}

.cssbuttons-io-button svg {
	margin-right: 6px;
}

.cssbuttons-io-button:hover {
	box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
	box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.button-58 {
	align-items: center;
	background-color: #06f;
	border: 2px solid #06f;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	fill: #000;
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	justify-content: center;
	letter-spacing: -0.8px;
	line-height: 24px;
	outline: 0;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-58:focus {
	color: #171e29;
}

.button-58:hover {
	background-color: #3385ff;
	border-color: #3385ff;
	fill: #06f;
}

.button-58:active {
	background-color: #3385ff;
	border-color: #3385ff;
	fill: #06f;
}

@media (min-width: 768px) {
	.button-58 {
		min-width: 170px;
	}
}
