/* Importing fonts from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reseting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #dce4c9, #c8e0b8);

  /* background: url("../assets/images/login-bg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

.r {
  font-size: 52px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.p {
  text-wrap: wrap;
  line-height: 1px;
}
